.schedule {
  grid-area: schedule;

  width: 100%;

  padding: clamp(1.5rem, 4vw, 3rem);


  min-width: 0;
}

.schedule>header {
  margin-bottom: 2rem;
}

.schedule>header h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.schedule>header p {
  color: #98959d;
  font-size: 0.87rem;
}

.schedule-period {
  border: 1px solid #2e2c30;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;

  overflow: hidden;
}

.schedule-period header {
  width: 100%;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #2e2c30;

  padding: 0.75rem 1.25rem;

  gap: 0.75rem;
}

.schedule-period header img {
  width: 1.25rem;
}

.schedule-period header strong {
  flex: 1;
  color: #98959d;
  font-size: 0.87rem;
}

.schedule-period header span {
  font-size: 0.87rem;
  color: #98959d;
}

.schedule-period ul {
  list-style: none;
  padding: 1.25rem;
}

.schedule-period ul li {
  min-height: 2rem;
  color: #b2afb6;
  font-size: 1rem;

  display: flex;
  align-items: center;

  gap: 0.75rem;

  min-width: 0;
}

.schedule-period ul li span {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cancel-icon {
  cursor: pointer;
  transition: opacity 0.2s;
}

.schedule-period ul li img:hover {
  opacity: 0.7;
}

.schedule-period ul li strong {
  margin-right: 0.5rem;
}

@media (max-width: 1024px) {
  .schedule {
    padding: clamp(1.25rem, 4vw, 2rem);
  }

  .schedule-period header {
    padding: 0.75rem 1rem;
  }

  .schedule-period ul {
    padding: 1rem;
  }
}

@media (max-width: 520px) {

  .schedule-period header span {
    display: none;
  }
}